body {
   
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto');

$dark: #283D3B;
$color_dark: #197278;
$color_champagne: #EDDDD4;
$color_red: #C44536;
$color_blue: #293284;
section {
    border: 3px solid #e3e3e3;

}
#x-corp-carousel{
    margin-bottom: 30px;

}
.our-progress {
    p {
        color: rgb(127, 132, 181) !important;
    }
}

.tab-content {
    background: white;

    h3 {
        color: rgba(41,50,132,.6) !important;
    }

    p {
        color: black;
    }
}
span{color:black;}

.navbar-inverse {
    border: none;
    background-color: $color_red;

    .navbar-nav {
        li {
            a {
                font-family: 'IBM Plex Mono', monospace;
                color: black;
            }
        }
    }
}

h2{
    color: $color_red;
}
.jumbotron {
    background: linear-gradient(to right, white 30%, transparent 80%), url("../Images/code-1839406_1280.jpg");

    h1 {
        color: $color_red;
    }

    p {
         }
}
.navbar-brand:hover{
    text-decoration:none !important;
}
.navbar-brand a:hover {
    text-decoration:none !important;
}

.navbar-brand {
    color:white !important;
    text-decoration:none;
}

img{max-width:100%;}
.some-links {
    display: flex;
    align-items: flex-end;

    img {
       
    }
}
.social-link {
    img {
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-radius: 2px;
    }
}