@{
    ViewBag.Title = "About | niclasandersen.dk";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@Html.ActionLink("Download my CV", "Niclas_Resume", new { fileName = "Niclas_Resume" }, new { @target = "_blank"})