@{
    ViewBag.Title = "Contact | niclasandersen.dk";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pooplord avenue<br />
    Salt city, 100-900-SALT<br />
    <abbr title="Phone">P:</abbr>
    +00 13 37 13 37
</address>

<address class="some-links">
    <strong><a  target="_blank" href="https://www.linkedin.com/in/niclasandersen/"><img src="~/Images/SoMe_Icons/In-2C-128px-TM.png" /></a></strong>  <br />
    <strong><a  target="_blank" href="https://github.com/NiclasSBA"><img src="~/Images/SoMe_Icons/GitHub-Mark-64px.png" /></a></strong> 
</address>