@{
    ViewBag.Title = "Tips | niclasandersen.dk";
}

<h2>Tips</h2>
<p>
    This is where you will find an interesting lists of things I've discovered coding wise.
    Usually it's when I couldn't figure some obvious out, but sometimes it's something that I found pretty neat.
</p>

