@{
    ViewBag.Title = "Homepage | niclasandersen.dk";
}

<div class="jumbotron">
    <h1>Niclas Andersen</h1>
    <p class="lead">Develop, secure &amp; conquer</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>I am</h2>
        <p>
            Passionate about developing the digital world. I believe that everyone has the right to a secure journey on the internet.
            This cannot be achieved by one person alone.
        </p>
        <div><img  src="~/Images/me.png" /></div>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>You are</h2>
        <p>
            More than welcome to contact me if you want know more, or you can find me on <a target="_blank" href="https://www.linkedin.com/in/niclasandersen/">
                linkedin
            </a>.
            <br />
            <br />
            I'm posting something on <a target="_blank" href="https://github.com/NiclasSBA">
                github
            </a> from time to time.
            I am very passionate about web development and I won't say no to coffee.
        </p>
        
    </div>
    <div class="col-md-4">
        <!--Headline too long, make it shorter and more precise-->
        <h2>Digital</h2>
        <p>I've started an overhaul of my online presence, which meant a redesign of this website as part of my portefolio.
        You can read more about my values @Html.ActionLink("here", "About", "Home"). 
        I know that websites need a little something for the user, so I've made section for tips &amp; tricks, that contains some of my experiences, good, bad &amp; funny ones. 
        You can find it <a href="#">here</a></p>
       
    </div>
</div>